// .eslintrc
{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended", // https://eslint.org/docs/rules/
    "plugin:vue/vue3-recommended", // https://eslint.vuejs.org/rules/
    "plugin:@typescript-eslint/recommended" // https://typescript-eslint.io/rules/
  ],
  "ignorePatterns": ["**/*.md"],
  "parser": "vue-eslint-parser",
  "parserOptions": { 
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    // "ruleName": ["off, warn, error", { ruleOptions }]
    /*** ESLint ***/
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "curly": ["error"],
    "eqeqeq": ["error", "smart"],
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "no-unused-vars": ["warn"],
    // "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "semi": ["error", "never"],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    /*** TypeScript ***/
    "@typescript-eslint/no-inferrable-types": ["error", { "ignoreParameters": true, "ignoreProperties": false }],
    "@typescript-eslint/no-explicit-any": ["warn", { "fixToUnknown": false, "ignoreRestArgs": false }],
    "@typescript-eslint/no-unused-vars": ["warn"],
    // "@typescript-eslint/semi": ["error", "never"],
    /*** Vue ***/
    "vue/max-attributes-per-line": ["error", { "singleline": 3, "multiline": 1 }]
  }
}

// // eslint.config.js
// import antfu from '@antfu/eslint-config'

// export default antfu({
//   languageOptions: {
//     ecmaVersion: 5,
//     sourceType: 'module'
//   },
//   // Enable stylistic formatting rules
//   // stylistic: true,

//   // Or customize the stylistic rules
//   stylistic: {
//     indent: 2, // 4, or 'tab'
//     quotes: 'single', // or 'double'
//   },

//   // TypeScript and Vue are auto-detected, you can also explicitly enable them:
//   typescript: true,
//   vue: true,

//   // Disable jsonc and yaml support
//   jsonc: false,
//   yaml: false,

//   // `.eslintignore` is no longer supported in Flat config, use `ignores` instead
//   ignores: [
//     '**/fixtures',
//     // ...globs
//   ]
// })

// // eslint.config.js
// import eslint from "@eslint/js";
// import stylistic from '@stylistic/eslint-plugin';
// import pluginVue from 'eslint-plugin-vue';
// import tseslint from 'typescript-eslint';

// export default [
//   {
//     languageOptions: {
//       ecmaVersion: 2022,
//       sourceType: "module",
//       globals: {
//           ...globals.browser,
//           myCustomGlobal: "readonly"
//       }
//   }
//   },
//   // ESLint - https://eslint.org/docs/rules/
//   eslint.configs.recommended,
//   // Vue - https://eslint.vuejs.org/rules/
//   ...pluginVue.configs['flat/recommended'],
//   // TypeScript - https://typescript-eslint.io/rules/
//   ...tseslint.configs.recommended,
//   // Override the recommended config
//   {
//     rules: {
//         indent: ["error", 2],
//         "no-unused-vars": "warn"
//     }
//     // ...other configuration
//   },
//   {
//     plugins: {
//       pluginVue,
//       '@stylistic': stylistic,
//     },
//     rules: {
//       'vue/no-unused-vars': 'error',
//       'vue/max-attributes-per-line': ['error', { 'singleline': 3, 'multiline': 1 }],
//       'indent': ['error', 2],
//       '@stylistic/indent': ['error', 2],
//       // ...
//     }
//   }
// ]
