{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [],
  "rules": {
    // "ruleName": ["off, warn, error", { ruleOptions }]
    // "no-console": process.env.NODE_ENV === 'production' ? "warn" : "off",
    // "no-debugger": process.env.NODE_ENV === 'production' ? "warn" : "off",
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-unused-vars": ["warn"],
    "@typescript-eslint/no-inferrable-types": ["error", { "ignoreParameters": true, "ignoreProperties": false }]
  }
}
