# Dependencies
node_modules

# Production
/dist
dist
dist-ssr

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Vitest
vitest.config.js.timestamp-*
vitest.config.ts.timestamp-*

# Tests
/tests/coverage

# Local env files
*.local
.env.local
.env.*.local

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
