@import './base.css';

/******************************************************************************
  Chart Icons
/*****************************************************************************/
.chartIcons {
  display: flex;
  justify-content: center;
  align-items: center;

  & .chartIcon {
    color: var(--icon-color-primary);
  }

  @media screen and (min-width: 960px) {
    justify-content: flex-end;

    & .chartIcon {
      cursor: pointer;
    }
  }
}
